<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">All Target Grpah</h3>
  </div>
  <div class="panel-body">
  <canvas id="myChart" width="300px" height="400px"></canvas>
  </div>
</div>